---
---

@import "{{ site.theme }}";

#header_wrap {
  background-color: #d0dc28;
  background-image: none;
}

#project_title, #project_tagline {
  color: #333;
  text-shadow: none;
}

.inner {
  max-width: 800px;
}